{% extends "usuarios/layout.html" %}
{% block content %}


<div class="form-container">
    <br>
<form action="/usuarios/clientes" method="post">
    <div class="container">
        
        <input type="text" class="form-control" id="exampleFormControlInput1" name="nombre" placeholder="Nombre">
        <br>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="direccion" placeholder="Direccion">
        <br>
        <input type="number" class="form-control" id="miInput" oninput="limitarEntrada()" name="cedula" placeholder="Cedula o Ruc">
        <br>
        <button type="submit" class="btn btn-primary"> Enviar</button>
    </div>
</form>
</div>

<script src="/static/js/cedula.js">
</script>
{% endblock %}