{% extends "usuarios/layout.html" %}
{% block content %}

{% for vuse_cliente in clientes %}
<form action="/edit_cliusu/{{vuse_cliente.nombre}}" method="POST">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="">Nombre</th>
                    <th>Direccion</th>
                    <th>Cedula o Ruc</th>
                </tr>
            </thead>
            <tbody>
                <th>
                    <input type="text" class="form-control"  value="{{vuse_cliente.nombre}}" name="nombre" placeholder="Nombre">
                </th>
                <th>
                    <input type="text" class="form-control"  value="{{vuse_cliente.direccion}}" name="direccion" placeholder="Direccion">
                </th>
                <th>
                    <input type="number" class="form-control" id="miInput" value="{{vuse_cliente.cedula}}" name="cedula" oninput="limitarEntrada()" placeholder="Cedula o Ruc">
                </th>
            </tbody>
        </table>
        <button type="submit" type="submit" class="btn btn-primary"> Editar</button>
    </div>
    
</form>

<script src="/static/js/cedula.js"></script>
{% endfor %}
{% endblock %}