{% extends "usuarios/layout.html" %}
{% block content %}
<div class="form-container">
    <br>
    <h1 style="text-align: center;">Ingresado de Ventas</h1>
    <form action="/usuarios/ventas" method="POST">
        <div class="container">
        <label for="" class="form-control"> Usuario
            <input type="text"  name="usuario" value="{{ usuario }}" readonly>
        </label>   
        </label>
        <label for="" class="form-control"> Cliente
            <select name="cliente">
                {% for cliente in clientes %}
                <option value="{{ cliente }}">{{ cliente }}</option>
                {% endfor %}
            </select>
        </label>
        <label for="" class="form-control"> Producto
            <select name="marca">
                {% for producto in productos %}
                <option value="{{ producto }}">{{ producto }}</option>
                {% endfor %}
            </select>
        </label>
        <label for="" class="form-control" > Categoria
            <select name="categoria">
                {% for categoria in categorias %}
                    <option value="{{ categoria }}">{{ categoria }}</option>
                {% endfor %}
            </select>
        </label>
        <label for="" class="form-control">Precio por unidad de la pieza
            <input  type="number" step="0.01" name="precio">
        </label>
        <label for="" class="form-control">Valor de mano de obra
            <input  type="number" step="0.01" name="cambio">
        </label>
        <label for="" class="form-control">Fecha
            <input type="date" id="fecha"  name="fecha">
        </label>
        <br>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
    
    
    
</form>
<script src="/static/js/ventas_user.js"></script>
{% endblock %}