{% extends "usuarios/layout.html" %}
{% block content %}
<div class="container">
    <form id="contact" action="/usuarios/ventas" method="post">
        <h3>Ingresado de Ventas</h3>
        <h4>Todos los campos son obligatorios </h4>
        <fieldset>
            <label for="">Ingreso de Usuarios</label>
            <br>
            <input type="text"  name="usuario" value="{{ usuario }}" readonly>
        </fieldset>
        <fieldset>
            <label for="">Ingreso de Clientes</label>
            <br>
            <select name="cliente" class="" >
                {% for cliente in clientes %}
                <option value="{{ cliente }}">{{ cliente }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <fieldset>
            <label for="">Ingresa de Productos </label>
            <br>
            <select name="marca" class="form-control form-control-lg">
                {% for producto in productos %}
                <option value="{{ producto }}">{{ producto }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <fieldset>
            <label for="">Ingresa de Categorias</label>
            <br>
            <select name="categoria" class="form-control form-control-lg">
                {% for categoria in categorias %}
                    <option value="{{ categoria }}">{{ categoria }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <fieldset>
            <input placeholder="Ingreso de Precio" type="number" id="number" name="precio" tabindex="4" required>
        </fieldset>
        <fieldset>
            <input placeholder="Ingreso de Mano de Obra" type="number" id="number" name="cambio" tabindex="4" required>
        </fieldset>
        <fieldset>
            <input placeholder="Ingreso de Fecha" type="date" id="fecha" name="fecha" tabindex="4" required>
        </fieldset>
        <fieldset>
            <button  type="submit" id="contact-submit" >Enviar</button>
        </fieldset>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
</div>
<script src="/static/js/ventas_user.js"></script>
{% endblock %}