{% extends "admin/layout.html" %}
{% block content %}


<div class="container">

    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-search" viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
        </span>
        <input type="search" id="filtro" class="form-control" placeholder="Busqueda" aria-label="Username"
            aria-describedby="addon-wrapping">
    </div>

    {% for producto in productos %}
    <form action="/edit_prod/{{producto.codigo}}" method="POST">
        <table >
            <thead>
                <tr>
                    <th>
                        Codigo
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        Categoria
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody data-marca="{{producto.marca}}">
                <th>
                    <input type="text" class="form-control"  value="{{producto.codigo}}" name="codigo" placeholder="Codigo">
                </th>
                <th>
                    <input type="text" class="form-control"  value="{{producto.marca}}" name="marca" placeholder="Marca">
                </th>
                <th>
                    <input type="text" class="form-control"  value="{{producto.categoria}}" name="categoria" placeholder="Categoria">
                </th>
                <th>
                    <input type="number" class="form-control" id="miInput" value="{{producto.cantidad}}" name="cantidad" oninput="limitarEntrada()" placeholder="Cantidad">
                </th>
                <th>
                    <input type="number" class="form-control" id="miInput" value="{{producto.precio}}" name="precio" oninput="limitarEntrada()" placeholder="Precio">
                </th>
                <th><button type="submit" type="submit" class="btn btn-primary"> Editar</button>
                    <a href="{{url_for('eliproduc', prod_codigo=producto.codigo)}}"class="btn btn-danger ">Eliminar</a></th>
            </tbody>

        </table> 
        {% endfor %}
</form>
</div>
<script>
    $(document).ready(function () {
        $("#filtro").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("tbody[data-marca]").filter(function () {
                $(this).parent().toggle($(this).data("marca").toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}