{% extends "admin/layout.html" %}
{% block content %}
<div class="container">
        <table id="myTable" class="table">
            <thead>
                <tr>
                    <th>
                        Codigo
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        Categoria
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>
                        {{producto.codigo}}
                    </td>
                    <td>
                        {{producto.marca}}
                    </td>
                    <td>
                        {{producto.categoria}}
                    </td>
                    <td>
                        {{producto.cantidad}}
                    </td>
                    <td>
                        {{producto.precio}}
                    </td>
                    <td><button type="submit" type="submit" class="editar btn btn-primary"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                    </button>
                        <a href="{{url_for('eliproduc', prod_codigo=producto.codigo)}}"
                            class="eliminar btn btn-danger ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash2-fill" viewBox="0 0 16 16">
                            <path
                                d="M2.037 3.225A.7.7 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.7.7 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z" />
                        </svg>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
<div id="editModal" title="Editar Productos">
    <form id="editForm" action="" method="post">
        <div class="">
            <label for="">Codigo</label>
            <input type="text" id="codigo" name="codigo" class="form-control">
            <label for="">Marca</label>
            <select name="marca" id="marca" class="form-control">
                <option value=""></option>
                <option value="Hifly">Hifly</option>
                <option value="Onix">Onix</option>
                <option value="Sunful">Sunful</option>
                <option value="Terraking">Terraking</option>
                <option value="Sin nombre">Sin nombre</option>
            </select>
            <label for="">Categoria</label>
            <select name="categoria" id="categoria" class="form-control">
                <option value=""></option>
                <option value="Llantas">Llantas</option>
                <option value="Pernos">Pernos</option>
                <option value="Cauchos">Cauchos</option>
                <option value="Tubos">Tubos</option>
                <option value="Aros">Aros</option>
            </select>
            <label for="">Cantidad</label>
            <input type="number" id="cantidad" class="form-control"  name="cantidad"
                placeholder="Cantidad">
            <label for="rol">Precio</label>
            <input type="number" id="precio" class="form-control"  name="precio"
                placeholder="Precio">
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            }
        });

        var table = $('#myTable').DataTable();
        //Cambio de english a spanish
        // Funcionalidad de edición
        table.on('click', '.editar', function () {
            var row = $(this).closest('tr');
            var data = table.row(row).data();
            // Aquí puedes abrir el modal y llenar los campos del formulario con los datos del usuario
            // Por ejemplo:
            $('#codigo').val(data[0]);
            $('#marca').val(data[1]);
            $('#categoria').val(data[2]);
            $('#cantidad').val(data[3]);
            $('#precio').val(data[4]);
            $('#editForm').attr('action', '/edit_prod/' + data[0]);
            $('#editModal').dialog('open');
        });
        // Inicializar el modal
        $('#editModal').dialog({
            autoOpen: false,
            modal: true,
            buttons: [
                {
                    text: 'Guardar',
                    click: function () {
                        $('#editForm').submit();
                    },
                    // Agregar una clase al botón
                    class: 'guardar'
                },
                {
                    text: 'Cancelar',
                    click: function () {
                        $(this).dialog('close');
                    },
                    // Agregar una clase al botón
                    class: 'cancelar'
                }
            ]
        });
    });
    // Este es oara preguntar de la edicion y eliminacion
    $(document).ready(function () {

        $(".eliminar").click(function (event) {
            if (!confirm("¿Estás seguro de que quieres eliminar?")) {
                event.preventDefault();
            }
        });
    });
</script>
{% endblock %}