{% extends "admin/layout.html" %}
{% block content %}
<div class="container">
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
        </span>
        <input type="search" id="filtro" class="form-control" placeholder="Busqueda" aria-label="Username"
            aria-describedby="addon-wrapping">
    </div>
    {% for e_venta in ventas %}
    <form action="/edit_venta/{{e_venta.usuario}}" method="POST">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Usuario
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Marca
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Precio por unidad de la pieza
                </th>
                <th>
                    Precio de Mano de obra
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody data-usuario="{{e_venta.usuario}}">

            <th>
                <input type="text" class="form-control" value="{{e_venta.usuario}}" name="usuario">
            </th>
            <th>
                <input type="text" class="form-control" value="{{e_venta.cliente}}" name="cliente">
            </th>
            <th>
                <select name="marca" id="" class="form-control">
                    <option value="{{e_venta.marca}}">{{e_venta.marca}}</option>
                    <option value="Hifly">Hifly</option>
                    <option value="Onix">Onix</option>
                    <option value="Sunful">Sunful</option>
                    <option value="Terraking">Terraking</option>
                    <option value="Sin nombre">Sin nombre</option>
                </select>
            </th>
            <th>
                <select name="categoria" id="" class="form-control">
                    <option value="{{e_venta.categoria}}">{{e_venta.categoria}}</option>
                    <option value="Llantas">Llantas</option>
                    <option value="Pernos">Pernos</option>
                    <option value="Cauchos">Cauchos</option>
                    <option value="Tubos">Tubos</option>
                    <option value="Aros">Aros</option>
                </select>
            </th>
            <th>
                <input type="number" step="0.01" class="form-control" value="{{e_venta.precio}}" name="precio">
            </th>
            <th>
                <input type="number" step="0.01" class="form-control" value="{{e_venta.cambio}}" name="cambio">
            </th>
            <th>
                <input type="date" class="form-control" value="{{e_venta.fecha}}" name="fecha">
            </th>
            <th>
                <button  type="submit" class="editar btn btn-primary"> Editar</button>
                <a href="{{url_for('elive',venta_name=e_venta.usuario)}}" class="eliminar btn btn-danger ">Eliminar</a>
            </th>
        </tbody>
    </table>
    </form>
    {% endfor %}
</div>
<script>
    $(document).ready(function () {
        $("#filtro").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("tbody[data-usuario]").filter(function () {
                $(this).parent().toggle($(this).data("usuario").toLowerCase().indexOf(value) > -1)
            });
        });
    });

    //  Este es oara preguntar de la edicion y eliminacion
    $(document).ready(function () {
        $(".editar").click(function (event) {
            if (!confirm("¿Estás seguro de que quieres editar?")) {
                event.preventDefault();
            }
        });

        $(".eliminar").click(function (event) {
            if (!confirm("¿Estás seguro de que quieres eliminar?")) {
                event.preventDefault();
            }
        });
    });
</script>
{% endblock %}