{% extends "admin/layout.html" %}
{% block content %}

<div class="container">


    <div class="form-container">
        <form action="/admin/in_mecanicos" method="POST">

            <input type="number" id="miInput" oninput="limitarEntrada()" class="form-control" name="cedula" placeholder="Cedula">
            <br>
            <input type="text" class="form-control" id="email" name="usuario" placeholder="Usuario">
            <br>
            <input type="text" class="form-control" name="rol" placeholder="Roles">
            <br>

            <input type="email" class="form-control" id="email" name="correo" placeholder="Correo">
            <br>

            <input type="password" class="form-control" id="password" name="contraseña" placeholder="Contraseña">
            <br>

            <button type="submit" class="btn btn-primary">Guardar Mecanico</button>
        </form>
    </div>
</div>
<script src="/static/js/cedula.js"></script>
{% endblock %}