{% extends "admin/layout.html" %}
{% block content %}
<div class="container">
    <form action="/admin/in_mecanicos"  id="contact" method="post">
        <h3>Ingresar de mecanicos</h3>
        <h4>Todos los campos son obligatorios </h4>
        <fieldset>
            <input placeholder="Ingresar cedula" type="number" id="miInput" oninput="limitarEntrada()" name="cedula" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input placeholder="Nombre de Usuario" name="usuario" type="text" tabindex="2" required>
        </fieldset>
        <fieldset>
            <input  type="text" value="Mecanico"  name="rol" tabindex="3" required  readonly>
        </fieldset>
        <fieldset>
            <input placeholder="Correo electronico" type="email" id="correo" name="correo" tabindex="4" required>
        </fieldset>
        <fieldset>
            <input type="password" placeholder="Contraseña" name="contraseña"  tabindex="5" required>
        </fieldset>
        <fieldset>
            <button  type="submit" id="contact-submit" >Enviar</button>
        </fieldset>        
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
</div>
<script src="/static/js/mecanico.js"></script>
{% endblock %}