{% extends "admin/layout.html" %}
{% block content %}

<div class="container">
<h1 style="text-align: center;">Ingreso de Mecanicos</h1>
<br>
    <div class="form-container">
        <form action="/admin/in_mecanicos" method="POST">

            <input type="number" id="miInput" oninput="limitarEntrada()" class="form-control" name="cedula" placeholder="Cedula">
            <br>
            <input type="text" class="form-control" id="" name="usuario" placeholder="Usuario">
            <br>
            <select name="rol" id="" class="form-control">
                <option value="Mecanico">Mecanico</option>
            </select>
           
            <br>

            <input type="email" class="form-control" id="correo" name="correo" placeholder="Correo">
            <br>

            <input type="password" class="form-control" id="" name="contraseña" placeholder="Contraseña">
            <br>

            <button type="submit" class="btn btn-primary">Guardar Mecanico</button>
        </form>
    </div>
</div>
<script src="/static/js/mecanico.js"></script>
{% endblock %}