{% extends "admin/layout.html" %}
{% block content %}

<div class="form-container">
    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Marca">
            <input type="text" class="form-control" placeholder="Caja o Sarta">
            <input type="text" class="form-control" placeholder="Cantidad">
            <input type="text" class="form-control" placeholder="Precio">
            <input type="text" class="form-control" placeholder="Distribuidor">
            <input type="text" class="form-control" placeholder="Comentarios">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>







{% endblock %}