{% extends "admin/layout.html" %}
{% block content %}
<div class="form-container">
    <h1 style="text-align: center;">Ingresado de Productos</h1>
    <br>
    <form action="/admin/producto" method="post">
        <div class="container">
            <input type="number" name="codigo" class="form-control"  placeholder="Codigo">
            <br>
            <select name="marca" id="" class="form-control">
                <option value="Hifly">Hifly</option>
                <option value="Onix">Onix</option>
                <option value="Sunful">Sunful</option>
                <option value="Terraking">Terraking</option>
                <option value="Sin nombre">Sin nombre</option>
            </select>
            <br>
            <select name="categoria" id="" class="form-control">
                <option value="Llantas">Llantas</option>
                <option value="Pernos">Pernos</option>
                <option value="Cauchos">Cauchos</option>
                <option value="Tubos">Tubos</option>
                <option value="Aros">Aros</option>
            </select>
            <br>
            <input type="number" name="cantidad" class="form-control" 
                placeholder="Cantidad">
            <br>
            <input type="number" step="0.01"  name="precio" class="form-control"  placeholder="Precio">
            <br>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
<script src="/static/js/producto.js">
</script>
{% endblock %}