{% extends "admin/layout.html" %}
{% block content %}
<div class="container">
    <form id="contact" action="/admin/producto" method="post">
        <h3>Ingresado de Productos</h3>
        <h4>Todos los campos son obligatorios </h4>
        <fieldset>
            <input placeholder="Ingresar codigo" type="number" name="codigo"  tabindex="1" hidden
                autofocus>
        </fieldset>
        
        <fieldset id="field">
            <select name="categoria" id="categoria" class="form-control" >
                <option value="Cambio de llanta grande">Cambio de llanta grande</option>
                <option value="Cambio de llanta pequeña">Cambio de llanta pequeña</option>
                <option value="Arreglo de llanta grande">Arreglo de llanta grande</option>
                <option value="Arreglo de llanta pequeña">Arreglo de llanta pequeña</option>
                <option value="Cambio de pernos grandes">Cambio de pernos grandes</option>
                <option value="Cambio de aros grandes">Cambio de aros grandes</option>
            </select>
            <button  type="button" id="cambiar" class="small btn-primary">Agregar Servicio </button>
        </fieldset>

        <fieldset>
            <input placeholder="Valor de Mano de Obra" type="number" id="number" name="precio" tabindex="4" required>
        </fieldset>
        <fieldset>
            <button type="submit" id="contact-submit">Enviar</button>
        </fieldset>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
    </form>

</div>
<script>
     document.getElementById('cambiar').addEventListener('click', function() {
        var field = document.getElementById('field');
        var input = document.createElement('input');
        input.type = 'text';
        input.name = 'categoria';
        input.className = 'form-control';
        field.replaceChild(input, document.getElementById('categoria'));
        this.style.display = 'none';
    });

</script>

<script src="/static/js/producto.js">
</script>
{% endblock %}