{% extends "admin/layout.html" %}
{% block content %}
<br>

<div class="container">
    <h1 style="text-align: center;">Reporte Anual</h1>
    <br>
    <table id="example" class="display" style="width:100%">
    
    
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Total</th>
            </tr>
        </thead>
        {% for fecha in fechas %}
        <tbody>
            <tr>
                
                <td>{{ fecha }}</td>
                <td>{{ sumas[fecha] }}</td>
            </tr>
        </tbody>
    
    {% endfor %}
</table>
</div>
<script>
new DataTable('#example');
</script>
{% endblock %}