{% extends "admin/layout.html" %}
{% block content %}

<div class="container">
    <h1>Ventas por Mecánico</h1>
    <table class="table">
        <tr>
            <th>Mecánico</th>
            <th>Ventas</th>
            <th>Fecha</th>
        </tr>
        {% for usuario, datos in usuarios_ordenados %}
        <tr>
            <td>{{ usuario }}</td>
            <td>{{ datos['ventas'] }}</td>
            <td>{{ datos['fecha'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}