{% extends "admin/layout.html" %}
{% block content %}

<div class="container">
    <h1 style="text-align: center;">Ventas por Mecánico</h1>
    <table id="example" class="display" style="width:100%">
        <thead>
        <tr>
            <th>Mecánico</th>
            <th>Ventas</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario, datos in usuarios_ordenados %}
        <tr>
            <td>{{ usuario }}</td>
            <td>{{ datos['ventas'] }}</td>
            <td>{{ datos['fecha'] }}</td>
        </tr>
    </tbody>
        {% endfor %}
    </table>
</div>
<script>
$(document).ready(function() {
    $('#example').DataTable();
});
</script>
{% endblock %}